<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Molkky.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MolkkyWatch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3972A862BDA597C00A39C83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3972A972BDA597E00A39C83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3972AA12BDA597E00A39C83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3B808402BE2871F00186D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3B808522BE2872000186D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3B8085C2BE2872000186D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
